<link type="stylesheet" href="src/styles.scss" />
<mat-progress-bar
          [mode]="'indeterminate'">
</mat-progress-bar>
<div class="section">
    <div class="row">
        <div class="col s12 l6">
            <!-- <form id="form_users" enctype="multipart/form-data" method="post" action="?users/add" autocomplete="off"> -->
                <form #addNewUser="ngForm" (ngSubmit)="CreateNewUser(addNewUser.value)">
                <div class="row">
                    <div class="input-field col s12 l6">
                        <input type="text" name="UserName" id="userName" #userName="ngModel" ngModel class="validate valid" value="" autocomplete="off">
                        <label for="Name" class="">User Name</label>
                    </div>
                    <div class="input-field col s12 l6">
                        <input type="password" name="Password" #password="ngModel" ngModel autocomplete="off" value="" id="Password">
                        <label for="Password" class="">Password</label>
                    </div>
                    <div class="input-field col s12 l6">
                        <div class="select-wrapper"><input class="select-dropdown dropdown-trigger" type="text" readonly="true" data-target="select-options-69209840-18f4-c4b8-e5c4-136d4a902b52"><ul id="select-options-69209840-18f4-c4b8-e5c4-136d4a902b52" class="dropdown-content select-dropdown" tabindex="0"><li class="disabled" id="select-options-69209840-18f4-c4b8-e5c4-136d4a902b520" tabindex="0"><span>Choose a user role</span></li><li id="select-options-69209840-18f4-c4b8-e5c4-136d4a902b521" tabindex="0" class="selected"><span>Admin</span></li><li id="select-options-69209840-18f4-c4b8-e5c4-136d4a902b522" tabindex="0"><span>Viewer</span></li><li id="select-options-69209840-18f4-c4b8-e5c4-136d4a902b523" tabindex="0"><span>Editor</span></li></ul><svg class="caret" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg><select class="icons validate" name="Role" id="Role" tabindex="-1">
                            <option value="" disabled="" selected="">Choose a user role</option>
                                <option value="Admin">Admin</option>
                                <option value="Viewer">Viewer</option>
                                <option value="Editor">Editor</option>
                        </select></div>
                        <label>Role</label>

                    </div>
                    <div class="input-field col s12 16">
                        <div class="left padding-05">
                            <input type="checkbox" id="Incasso" value="1" class="">
                            <label for="Incasso">Collection</label>
                        </div>
                    </div>


                </div>
                <!-- <div class="row">
                    <div class="col s12 l6 viewer" style="display:none;">
                        <label>Administrations</label><br>
                            <div class="left padding-05">
                                <input type="checkbox" id="Admin108" value="108">
                                <label for="Admin108">Testzaak 1234</label>
                            </div>
                            <div class="left padding-05">
                                <input type="checkbox" id="Admin109" value="109">
                                <label for="Admin109">test</label>
                            </div>
                            <div class="left padding-05">
                                <input type="checkbox" id="Admin116" value="116">
                                <label for="Admin116">Testingpart1</label>
                            </div>
                            <div class="left padding-05">
                                <input type="checkbox" id="Admin117" value="117">
                                <label for="Admin117">Schoonpand</label>
                            </div>

                    </div>
                    <div class="col s12 l6 viewer" style="display:none;">
                        <label>Portals</label><br>
                        <div class="left padding-05">
                            <input type="checkbox" id="Incasso" value="false">
                            <label for="Incasso">Collection</label>
                        </div>
                        <div class="left padding-05">
                            <input type="checkbox" id="OutSourcing" value="false">
                            <label for="OutSourcing">Outsourcing</label>
                        </div>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col s12">
                        <button type="submit" id="btn_submit" class="btn waves-effect waves-light" value=""><i class="material-icons left">save</i>Save</button>
                        <input type="hidden" name="edit" id="edit" value="13">
                        <div class="preloader-wrapper small active right" style="margin-right:1rem;display:none;">
                            <div class="spinner-layer spinner-green-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div><div class="gap-patch">
                                    <div class="circle"></div>
                                </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row error-container" style="display:none;">
                    <div class="col s12 red white-text">
                        <br>
                        <i class="material-icons left">thumb_down</i>Something went wrong!						<br><br>
                    </div>
                </div>
                <div class="row success-container" style="display: none;">
                    <div class="col s12 main-green white-text">
                        <br>
                        <i class="material-icons left">thumb_up</i>Data was saved successfully!<br><br>
                    </div>
                </div>
            </form>
        </div>
        <div class="col s12 l6 white z-depth-1">
            
            <div id="datalist">
                <!-- <script>
     var defaultPageOptions = {   RequestedPage:0, PageSize:50};
</script> -->


<ul class="pagination center">

</ul>
<div class="input-field">
    <i class="material-icons prefix tiny">search</i>
    <input type="text" id="tablesearch" placeholder="Search term..." value="">
</div>
<table class="responsive-table highlight bordered" id="table-list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Administrations</th>
            <th width="90px"></th>
        </tr>
    </thead>
    <tbody>

            <tr *ngFor="let u of users">
                <td>{{u.userName}}</td>
                <td>Admin</td>
                <td></td>
                <td>
                    <a class="waves-effect waves-light grey-text text-darken-1 btn_edit" data-id="2"><i class="material-icons">edit</i></a>
                    <a class="waves-effect waves-light grey-text text-darken-1 btn_delete" data-id="2"><i class="material-icons">delete</i></a>
                </td>
            </tr>
            
    </tbody>
</table></div>
        </div>
    </div>
</div>
