<div class="container">

    <form #userLogin="ngForm" (ngSubmit)="onClickSubmit(userLogin.value)">
        <!-- <input type="hidden" name="returnUrl" value="/">
        <input type="hidden" name="returnUrlHash"> -->
        <div class="container section">
            <div class="row">
                <div class="col s12 center semibold">
                    Log in to your administration panel
                </div>
                
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="emailAddress" class="validate" name="EmailAddress" ngModel #userName="ngModel"  type="text">
                    <label for="user" class="">User name</label>
                </div>
                <div class="input-field col s6">
                    <input id="password" name="Password" ngModel #password="ngModel" type="password" class="validate">
                    <label for="password" class="">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <div class="select-wrapper"><input class="select-dropdown dropdown-trigger" type="text" data-target="select-options-06e28e58-1757-a7d8-b558-4171d4aa4c9b"><ul id="select-options-06e28e58-1757-a7d8-b558-4171d4aa4c9b" class="dropdown-content select-dropdown" tabindex="0" ><li id="select-options-06e28e58-1757-a7d8-b558-4171d4aa4c9b0" tabindex="0" class="selected"><img alt="" src="../../assets/images/nl.png"><span>Nederlands</span></li><li id="select-options-06e28e58-1757-a7d8-b558-4171d4aa4c9b1" tabindex="0"><img alt="" src="../../assets/images/uk.jpg"><span>English</span></li></ul><svg class="caret" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg><select class="icons" name="Language" id="language" tabindex="-1">
                        <option value="nl-NL" data-icon="../../assets/images/nl.png" class="left circle">Nederlands</option>
                        <option value="en-US" data-icon="../../assets/images/uk.jpg" class="left circle">English</option>
                    </select></div>
                    <label>Language</label>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                <button type="submit" class="btn waves waves-light black" id="btn_submit"><i class="material-icons left">vpn_key</i> LOG
                    IN</button>
            </div>
        </div>
        
        <div class="row m-t-15 m-b--20">
            <div *ngIf="showLoader" class="col-xs-12">
                    <div class="progress-loader" >

                            <mat-progress-spinner [mode]="'indeterminate'">
                            </mat-progress-spinner>
                        
                        </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                <div class="preloader-wrapper big active" style="display:none;">
                    <div class="spinner-layer spinner-green-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>