


<div class="row section container">
    <div class="col s12 l12">
        <div class="row links-container">
            <div class="col s12 l3">
                <a href="/Actions" style="display:block;">
                    <div class="card-panel center green white-text hoverable">
                        <i class="material-icons ">notifications</i><br>
                        <span class="light">Actions</span>
                    </div>
                </a>
            </div>

            <div class="col s12 l3">
                <a href="/Users" style="display:block;">
                    <div class="card-panel center green white-text hoverable">
                        <i class="material-icons ">supervisor_account</i><br>
                        <span class="light">Users</span>
                    </div>
                </a>
            </div>

            <div class="col s12 l3">
                <a href="/administrations" style="display:block;">
                    <div class="card-panel center green white-text hoverable">
                        <i class="material-icons ">account_balance</i><br>
                        <span class="light truncate">Administrations</span>
                    </div>
                </a>
            </div>

            
            <div class="col s12 l3">
                <a href="/Debtors" style="display:block;">
                    <div class="card-panel center red white-text hoverable">
                        <i class="material-icons ">card_travel</i><br>
                        <span class="light">Debtors</span>
                    </div>
                </a>
            </div>
            <div class="col s12">
                <a href="/UploadData" style="display:block;">
                    <div class="card-panel center grey darken-4 white-text hoverable">
                        <i class="material-icons ">cloud_upload</i><br>
                        <span class="light">Upload Data</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col s12 l12">
        <div class="card overview">
            <div class="card-content">
                <h3 class="center center-align">
                    <span class="card-title">Overview</span>
                </h3>
                <p>
                    View users: 5<br>
                    Admins: 3<br><br>
                </p>
                <p>Administrations: 4<br><br></p>
                <p>
                    Latest Excel file: <br>
                    <span class="bold">2019-10-29-Schoonpand2.xlsx</span><br>
                    was loaded on Tuesday 29/10/2019 01:49 PM<br>
                </p>
            </div>
        </div>
    </div>
</div>